/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@400;500;600;700&family=Ysabeau+Infant:wght@600&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: 'Lato', sans-serif;
    /* Generic styles for project */
}

/*Header*/
header {
    background-color: black;
    position: fixed;
    Padding: 0 1rem;
    width: 100%;
    box-shadow: 0 2px 2px black;
    display: flex;
    justify-content: space-between;
    align-items: baseline:baseline: z-index: 99;
}

.page-header {
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

Header a {
    text-decoration: none;
    color: white;

}

h1 {
    font-family: 'Ysabeau Infant', sans-serif;
    text-transform: uppercase;


}

#home {
    background-image: url('../images/backgroundpicture.webp')
}

#menu {
    font-size: larger;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid white;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute: width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px black;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: white;
}



/*Main*/
main {
    background-color: whitesmoke;
    flex: 1 0 auto;
    /* Main element surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 50px;
}

/*Fooer*/
footer {
    background-color: beige;
}